= render partial:"groups/header"
-# = render partial:"mypage/side_bar", group: @user

.chat-main
  = form_with  model: @comment, url:mypage_comments_path, method: :post, class: '', local: true do |f|
    .chat-main__left-box
      %h5.main-header__left-box__current-group= current_user.nickname

    .chat-main__form
      .message{"data-comment-id": "#{@comment.id}"}
        .upper-message
          .upper-message__date
            %h5= @comment.content
        -# .lower-message
        -#   - if @comment.content.present?
        -#     %p.lower-message__content
        -#       = @comment.content
        -#   = image_tag @comment.image.url, class: 'lower-message__image' if @comment.image.present?
      .chat-main__form__area
        .chat-main__form__comment
          = f.text_field :content, class: 'chat-main__form__comment', placeholder: 'コメントを入力してください'
          .chat-main__comment 
            = f.label :image, class: 'chat-main__image' do
              = fa_icon 'camera', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'chat-main__submit'


    = render partial:"groups/footer"