%footer
  .footer-container
    .footer-right
      %ul
        %li
          = link_to'/', class: 'footer-item' do
            ミッション
        %li
          = link_to'/', class: 'footer-item' do
            行動指針
        %li
          = link_to'/', class: 'footer-item' do
            サービス
        %li
          = link_to'/', class: 'footer-item' do
            会社概要
        %li
          = link_to'/', class: 'footer-item' do
            お問い合わせ
    .footer-left
      %p 2019 Life_sports_site. All Rights Reserved
    .footer-clear