<!DOCTYPE html>
%html(lang="ja")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title Life SPORTS
  %body
    - if user_signed_in?
      %header.cmn-header__pc-mode
        .nav-pc
          %ul.nav-pc__on
            %li.nav-pc__on--child.nav-blank
              = link_to destroy_user_session_path, method: :delete, class: '' do
                ログアウト
    - else
      %header.cmn-header__pc-mode
        .cmn-header__bg--wrap
          .cmn-header__wrap
            .nav-pc
              %ul.nav-pc__on
                %li.nav-pc__on--child.nav-blank
                  = link_to new_user_registration_path, class: '' do
                    新規登録
                %li.nav-pc__on--child.nav-blank
                  = link_to user_session_path, class: '' do
                    ログイン画面

            .header-logo__wrap
              = link_to'/', target: "_blank" do
                = image_tag "logo.png", height:"40px"
            
            .nav-pc__under
              %ul.nav-pc__main
                %li.nav-pc__main--child.category
                  = link_to'/', class: 'nav-pc__link strong' do
                    カテゴリ

                .menu-dropdown.oral
                  .menu-dropdown__wrap
                    .menu-dropdown__button--wrap
                      = link_to'/', class: 'menu-dropdown__button' do
                        = image_tag "/",class: 'rollover-on', alt:'position:absolute; opacity:0; z-index:2;'
                        = image_tag "/",class: 'rollover', alt:'野球'
                        %span 野球
                      = link_to'/', class: 'menu-dropdown__button' do
                        = image_tag "/",class: 'rollover-on', alt:'position:absolute; opacity:0; z-index:2;'
                        = image_tag "/",class: 'rollover', alt:'野球'
                        %span サッカー
                      = link_to'/', class: 'menu-dropdown__button' do
                        = image_tag "/",class: 'rollover-on', alt:'position:absolute; opacity:0; z-index:2;'
                        = image_tag "/",class: 'rollover', alt:'野球'
                        %span 水泳

                %li.nav-pc__main--child.space
                  = link_to'/', class: 'nav-pc__link strong' do
                    場所
                %li.nav-pc__main--child.space
                  = link_to'/', class: 'nav-pc__link strong' do
                    仲間
                %li.nav-pc__main--child.space
                  = link_to'/', class: 'nav-pc__link strong' do
                    aaa
                %li.nav-pc__main--child.space
                  = link_to'/', class: 'nav-pc__link strong' do
                    bbb

    %main.main
      %section.first-section
        .main-visual
          .main-visual__content--wrap
            .main-bg
              .main-theme.vision
                %h2 気軽にスポーツが出来る 世の中を創る
                .main-theme.vision__text
                  = image_tag "appstore_link.png"
                  = image_tag "playstore_link.png"

      %section.second-section
        .main-visual
          .main-visual__content--wrap
            .main-bg
              .main-theme.vision__baseball
                %h2 野球
      %section.third-section
        .main-visual
          .main-visual__content--wrap
            .main-bg
              .main-theme.vision__swim
                %h2 水泳

      %section.fourth-section
        .main-visual
          .main-visual__content--wrap
            .main-bg
              .main-theme.vision__football
                %h2 サッカー
              .main-theme.vision__footer
              .main-theme.vision__phone
                = image_tag "phones.png", height:"200px"
                .main-theme.vision__text
                  = image_tag "appstore_link.png",height:"30px"
                  = image_tag "playstore_link.png",height:"30px"


    = render partial:"groups/footer"