= render partial:"groups/header"
= render partial:"side_bar", group:@user 

.profile_content
  = form_with  model: @user, url:mypage_path, method: :patch, class: '', local: true do |f|
    .profile_image
      %h4 profile
      .profile_image_nickname 
      = image_tag 'back_image.jpg',class:'profile_img'
      .profile_edit
      = f.submit "profileを更新する", class: "profile_edit_button"
      = image_tag 'nickname2.jpg',class:'profile_img_nickname',height:'200',width:'200px'  
      %h4
        = text_area :user, :nickname, class: 'profile_message_area'

    = fields_for @profile, url:mypage_path, method: :patch, class: '', local: true do |o|
      .profile_detail
        .profile_message
          %h5.profile_message_area 職業
          = o.select :job, Profile.jobs.keys.to_a, { prompt: "---" }, class: "message_area"
          %h5.profile_message_area 休日
          = o.select :holiday, Profile.holidays.keys.to_a, { prompt: "---" }, class: "message_area"
          %h5.profile_message_area 居住地
          = o.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: "---" }, class: "message_area"
          %h5.profile_message_area 自己紹介
          = text_area :profile, :message, class: 'message_area'

      = render partial:"groups/footer"